.clear-padding {
    padding: 0;
}

.disabled {
    z-index: 1000;
    background-color: lightgray;
    opacity: 0.6;
}

.alwaysvisible {
    opacity: 1;
}

.enabled {
    z-index: 1000;
}

.margin-5 {
    margin: 5px;
}

.note-size{
    width:66%;
}

.btn-group-block {
    width: 100%;
}

.expired {
    background-color: #ef7272;
}

.expiring {
    background-color: #eea135;
}

.toggleCaret {
    margin: 20px;
    display: block;
}

.fable {
    table-layout: fixed;
}

.validation-error { display: none }
.has-visited .validation-error { display: block }


.dev-tools-option{
    cursor:pointer;
}
.dev-tools-option:hover{
    background-color:#606060;
}