.clear-padding {
    padding: 0;
}

.margin-5 {
    margin: 5px;
}

.btn-group-block {
    width: 100%;
}

.expired {
    background-color: #ef7272;
}

.expiring {
    background-color: #eea135;
}

.toggleCaret {
    margin: 20px;
    display: block;
}
.validation-error { display: none }
.has-visited .validation-error { display: block }