@model Percurrentis.Controllers.ControllerData

@{
    ViewBag.UserName = Model.Name;
    ViewBag.guid = Model.Guid;
    ViewBag.accessLevels = Model.AccessLevels;
}

@section PreScript {
    <script>
        var activeProfile = {
            'obj'      : 'window.activeProfile',
            'username' : '@Model.Name',
            'roles'    : {  
                        },
            'features' : { approveRequest: true, 
                           readRequest:    true,
                           createRequest:  false  }
        };

        var roles = {"TravelAgency":@Model.AccessLevels.TravelAgency.ToString().ToLower(),
            "COO":@Model.AccessLevels.COO.ToString().ToLower(),
            "Employee":true,
            "ProjectManager":@Model.AccessLevels.ProjectManager.ToString().ToLower()};
        var dbCompanies = [];
        var dbAddresses = [];
        var dbCountries = [];

        @{ var developer = @User.IsInRole("Travel_Agency_Project").ToString().ToLower(); }
        activeProfile.roles.developer = @developer
        var ownGuid = "@Model.Guid";
        //Kees simulation
        //var ownGuid = "a73d1a5e-b640-467e-8583-e4b52cfae437";
        
    </script>
}

@section Header {
    <i class="gi {{pageIcon}}" data-ng-class=""></i><span data-ng-bind="pageTitle">Home</span>
}

@section BreadCrumbs {
    <ul class="breadcrumb breadcrumb-top" data-ng-controller="breadcrumbCtrl" data-ng-show="breadcrumbs.all()">
        <li data-ng-repeat="breadcrumb in breadcrumbs.all()">
            <a href="{{breadcrumb.path}}" data-ng-bind="breadcrumb.name"></a>
        </li>
    </ul>
}

<div data-ng-view>
</div>

@section Footer {

}

@section PostScript {

}