<div data-ng-controller="insuranceCtrl">
    <div class="block">
        <div class="block-title">
            <h2> <strong>Expired Insurances</strong></h2>
            <a ng-model="collapsed" class="navbar-right" ng-click="collapsed=!collapsed">
                <span class="caret"></span>
            </a>
         </div>

        <div ng-hide="collapsed" class="table-responsive">
            <table class="table table-vcenter table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Insuree</th>
                        <th class="col-md-1">Insurance Number</th>
                        <th class="col-md-1">Start Date</th>
                        <th class="col-md-2">Expiration Date</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items | orderBy: 'DaysLeft' | expired">
                        <td>{{ item.UserName }}</td>
                        <td><a editable-text="item.InsuranceNumber"
                               data-tooltip="Click to edit"
                            e-required e-placeholder="Enter insurancenumber">
                            {{ item.InsuranceNumber }}
                            </a>
                        </td>
                        <td>{{ item.StartDate | date:'d MMMM yyyy' }}</td>
                        <td>
                            {{ item.ExpirationDate | date:'d MMMM yyyy' }}
                        </td>
                        <td>
                            <div class="btn-group btn-sm">
                                <a data-ng-click="deleteInsurance(item)" data-tooltip="Delete"
                                   class="btn btn-sm ng-scope btn-default">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Active -->
    <div class="block">
        <div class="block-title">
            <h2> <strong>Active Insurances</strong></h2>
            <a ng-model="collapsed_2" class="navbar-right" ng-click="collapsed_2=!collapsed_2">
                <span class="caret"></span>
            </a>
        </div>

        <div ng-hide="collapsed_2" class="table-responsive">
            <table class="table table-vcenter table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Insuree</th>
                        <th class="col-md-1">Insurance Number</th>
                        <th class="col-md-1">Start Date</th>
                        <th class="col-md-2">Expiration Date</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items | orderBy: 'DaysLeft' | expired:'no'">
                        <td>{{ item.UserName }}</td>
                        <td>
                            <a editable-text="item.InsuranceNumber" data-tooltip="Click to edit"
                                onbeforesave="checkInumber($data)" e-required e-placeholder="Enter insurancenumber">
                                {{ item.InsuranceNumber }}
                            </a>    
                        </td>
                        <td>{{ item.StartDate | date:'d MMMM yyyy' }}</td>
                        <td>
                            {{ item.ExpirationDate | date:'d MMMM yyyy' }}
                            <span data-ng-if="item.DaysLeft > 0">( <span class="badge"> {{ item.DaysLeft }} </span> days from now).</span>
                            </td>
                        <td>
                            <div class="btn-group btn-sm">
                                <a data-ng-click="deleteInsurance(item)" data-tooltip="Delete"
                                   class="btn btn-sm ng-scope btn-default">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
