<div data-ng-controller="insuranceCtrl">
    
    <!-- Add new insurance -->
    <a class="btn btn-success" ng-click="collapsed_0=!collapsed_0"><i class="gi gi-circle_plus"></i> Add new</a>
    <div class="block" ng-hide="!collapsed_0">
        <div class="block-title">
            <h2> <strong>Add Insurance</strong></h2>
        </div>
    </div>

    <!-- List of expired insurances -->
    <div class="block">
        <div class="block-title">
            <h2> <strong>Expired Insurances</strong></h2>
            <a ng-model="collapsed" class="navbar-right" ng-click="collapsed_1=!collapsed_1">
                <span class="caret toggleCaret"></span>
            </a>
         </div>

        <div ng-hide="collapsed_1" class="table-responsive">
            <table class="table table-vcenter table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Insuree</th>
                        <th class="col-md-1">Insurance Number</th>
                        <th class="col-md-1">Start Date</th>
                        <th class="col-md-2">Expiration Date</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items | orderBy: 'DaysLeft' | expired">
                        <td>{{ item.UserName }}</td>
                        <td>
                            <span editable-text="item.InsuranceNumber" ng-model="item" e-name="inumber" e-form="rowform" onbeforesave="checkInsuranceNumber($data)" e-required>
                                {{ item.InsuranceNumber || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-bsdate="item.StartDate" e-name="sDate" e-form="rowform" e-datepicker-popup="dd-MM-yy" onbeforesave="validateDate($data)" e-required>
                                {{ (item.StartDate | date:'d MMMM yyyy') || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <span editable-bsdate="item.ExpirationDate" e-name="eDate" e-form="rowform" e-datepicker-popup="dd-MM-yy" onbeforesave="validateDate($data)" e-required>
                                {{ (item.ExpirationDate | date:'d MMMM yyyy') }}
                            </span>
                            <span class="badge expired">Expired</span>
                        </td>

                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="saveEdits($data)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                <button data-tooltip="Save"
                                        class="btn btn-sm btn-default" ng-click="rowform.$show()"
                                        type="submit" ng-disabled="rowform.$waiting">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button data-tooltip="Cancel"
                                        class="btn btn-sm btn-default" ng-click="rowform.$cancel()"
                                        type="submit" ng-disabled="rowform.$waiting">
                                    <i class="fa fa-times"></i>
                                </button>
                            </form>
                            <div class="buttons btn-group btn-sm" ng-show="!rowform.$visible">
                                <button data-tooltip="Edit"
                                        class="btn btn-sm btn-default" ng-click="rowform.$show()">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button data-ng-click="deleteInsurance(item)" data-tooltip="Delete"
                                        class="btn btn-sm btn-default">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- List of active insurances -->
    <div class="block">
        <div class="block-title">
            <h2> <strong>Active Insurances</strong></h2>
            <a ng-model="collapsed_2" class="navbar-right" ng-click="collapsed_2=!collapsed_2">
                <span class="caret toggleCaret"></span>
            </a>
        </div>

        <div ng-hide="collapsed_2" class="table-responsive">
            <table class="table table-vcenter table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">Insuree</th>
                        <th class="col-md-1">Insurance Number</th>
                        <th class="col-md-1">Start Date</th>
                        <th class="col-md-2">Expiration Date</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in items | orderBy: 'DaysLeft' | expired:'no'">
                        <td>{{ item.UserName }}</td>
                        <td>
                            <span editable-text="item.InsuranceNumber" e-name="inumber" e-form="rowform" onbeforesave="checkInsuranceNumber($data)" e-required>
                                {{ item.InsuranceNumber || 'empty' }}
                            </span>  
                        </td>
                        <td>
                            <span editable-bsdate="item.StartDate" e-name="sDate" e-form="rowform" e-datepicker-popup="dd-MM-yy" onbeforesave="validateDate($data)" e-required>
                                {{ (item.StartDate | date:'d MMMM yyyy') || 'empty' }}
                            </span>
                         </td>
                        <td>
                            <span editable-bsdate="item.ExpirationDate" e-name="eDate" e-form="rowform" e-datepicker-popup="dd-MM-yy" onbeforesave="validateDate($data)" e-required>
                                {{ (item.ExpirationDate | date:'d MMMM yyyy') }}
                            </span>
                            <span data-ng-if="(item.DaysLeft > 0) && (item.DaysLeft <= 25)"><span class="badge expiring"> {{ item.DaysLeft }}  days from now</span></span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onbeforesave="saveEdits($data)" ng-show="rowform.$visible" class="form-buttons form-inline">
                                <button data-tooltip="Save"
                                   class="btn btn-sm btn-default" ng-click="rowform.$show()"
                                   type="submit" ng-disabled="rowform.$waiting">
                                    <i class="fa fa-save"></i>
                                </button>
                                <button data-tooltip="Cancel"
                                        class="btn btn-sm btn-default" ng-click="rowform.$cancel()"
                                        type="submit" ng-disabled="rowform.$waiting">
                                    <i class="fa fa-times"></i>
                                </button>
                            </form>
                            <div class="buttons btn-group btn-sm" ng-show="!rowform.$visible">
                                <button data-tooltip="Edit"
                                   class="btn btn-sm btn-default" ng-click="rowform.$show()">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button data-ng-click="deleteInsurance(item)" data-tooltip="Delete"
                                   class="btn btn-sm btn-default">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
