<div class="modal-header">
    <h3 class="model-title text-center">Quick Add new traveller</h3>
</div>
<div class="modal-body">
    <div data-ng-form="'travellerform'">
        <div data-form-control data-label="First Name">
            <input type="text"
                   class="form-control"
                   data-ng-model="traveller.FirstName"
                   placeholder="First Name"
                   data-z-validate />
        </div>

        <div data-form-control data-label="Last Name">
            <input type="text"
                   class="form-control"
                   data-ng-model="traveller.FamilyName"
                   placeholder="Last Name"
                   data-z-validate />
        </div>
        <div data-form-control data-label="Full Name">
            <input type="text"
                   class="form-control"
                   data-ng-model="traveller.FullName"
                   placeholder="Full Name"
                   data-z-validate />
            <span class="help-block">
                The traveler's full name according to his/her passport or other identification document.
            </span>
        </div>

        <div data-form-control data-label="Nationality">
            <input type="text"
                   class="form-control"
                   data-ng-model="traveller.Nationality"
                   placeholder="Nationality"
                   data-z-validate />
        </div>

        <div data-form-control data-label="Phone Number">
            <input type="text"
                   class="form-control"
                   data-ng-model="traveller.PhoneNumberID"
                   placeholder="Phone Number"
                   data-z-validate />
        </div>

        <div data-form-control data-label="Department">
            <select data-chosen
                    data-width="'100%'"
                    data-ng-model="traveller.Department"
                    data-ng-options="department for department in departments"
                    data-z-validate>
                <option value="" disabled>Please select department</option>
            </select>
        </div>

        <div data-form-control data-label="Company">
            <select data-chosen
                    id="selectTravellerCompany"
                    data-width="'100%'"
                    data-ng-model="traveller.tempCompany"
                    data-ng-options="c.Name for c in travellerCompanies"
                    data-ng-change="selectTravellerCompany(traveller, traveller.tempCompany)"
                    data-z-validate>
                <option value="" disabled>Please select company</option>
            </select>
        </div>

        <div data-form-control data-label="" data-ng-show="traveller.hasOtherCompany">
            <input type="text"
                   class="form-control"
                   data-ng-model="traveller.Company.Name"
                   data-ng-change="selectTravellerCompany"
                   placeholder="Company"
                   data-z-validate />
        </div>
        <div data-form-control data-label="Copy of Travel Document">
            <div ng-controller="uploadCtrl">
                <input class="btn btn-success pull-left" style="margin-top: 5px;width:297px;" type="file" id="file-upload-selector" file-model="myFile" />
                <input type="hidden" id="hasToUpload" value="false" />
                <button id="upload-button" class="btn btn-success pull-left" style="padding: 7px;padding-bottom: 8px;margin-left: 5px;margin-top: 5px;" ng-click="uploadFile()">Upload file</button>
            </div>
        </div>
        <div data-form-control data-label="">
            <div class="expired" style="display:none;" id="upload-error"></div>
        </div>
    </div>
    <div class="modal-footer" style="margin-top:420px;">
        <span class="expired" style="display:none;" id="save-error">Upload the file before saving it</span>
        <button class="btn btn-primary" data-ng-click="primary.action()" data-ng-disabled="primary.disabled">
            <i class="fa fa-check"></i>
            Save and close
        </button>
        <button class="btn btn-default" data-ng-click="cancel()">
            <i class="fa fa-times"></i>
            Cancel
        </button>
    </div>
</div>