<div id="proposal" data-ng-controller="proposalCtrl">
    <div class="row">

        <!--Wizard-->
        <div class="col-sm-12">
            <div class="block">

                <div class="table">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <td><strong>Type</strong></td>
                                <td><strong>Information</strong></td>
                                <td><strong>Date</strong></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="flight_{{ flight.Id }}" class="datarow" ng-repeat="flight in proposal.FlightRequests | filter: { ParentID: null, IsDeleted: false } | orderBy:'DepartureDate'" ng-model="flight">

                                <td>Flight</td>
                                <td>{{ flight.DepartureAddress.City }} to {{ flight.DestinationAddress.City }} <i class="fa fa-caret-down" ng-click="showBox = !showBox"></i>
                                    <!--<span ng-if="showBox" class="infobox well" style="z-index: 100; position: fixed;">
                                        <strong>FMC Number:</strong> {{ flight.FlyerMemberCard.FMCNumber }}<br />
                                    </span>-->
                                </td>
                                <td>{{ flight.DepartureDate|date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Flight', flight)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="ferry in proposal.FerryRequests | filter: { ParentID: null } ">
                                <td>Ferry</td>
                                <td>{{ ferry.DepartureAddress.AddressName }}
                                to {{ ferry.DestinationAddress.AddressName }}</td>
                                <td>{{ ferry.DepartureDate | date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Ferry', ferry)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <!-- Start of tbody for TaxiRequests -->
                            <tr ng-repeat="taxi in proposal.TaxiRequests | filter: { ParentID: null } ">
                                <td>Taxi</td>
                                <td>{{ taxi.DepartureAddress.AddressName }} to {{ taxi.DestinationAddress.AddressName }}</td>
                                <td>{{ taxi.DepartureDate | date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Taxi', taxi)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        <!-- Start of tbody for RentalCarRequests -->
                        <!--<tbody >-->
                            <tr ng-repeat ="rcar in proposal.RentalCarRequests | filter: { ParentID: null } ">
                                <td>Rental car</td>
                                <td>
                                    Dropoff at {{ rcar.Address.AddressName }}
                                </td>
                                <td>{{ rcar.StartDate | date:'d MMMM yyyy' }} to {{ rcar.EndDate | date:'d MMMM yyyy' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('RentalCar', rcar)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        <!-- Start of tbody for Eurotunnels .-->
                            <tr ng-repeat="tunnel in proposal.EuroTunnelRequests | filter: { ParentID: null } ">
                                <td>Eurotunnel</td>
                                <td>{{ tunnel.DepartureAddress.AddressName }} to {{ tunnel.DestinationAddress.AddressName }}</td>
                                <td>{{ tunnel.DepartureDate | date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('EuroTunnel', tunnel)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        <!-- Start of tbody for Accommodations.-->
                            <tr ng-repeat="acco in proposal.Accommodations | filter: { ParentID: null } ">
                                <td>Accommodations</td>
                                <td>{{ acco.Address.AddressName }}</td>
                                <td>{{ acco.CheckInDate | date:'d MMMM yyyy' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Accommodation', acco)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="block" id="addblock">
                <!--Title-->
                <div class="block-title">
                    <h1>Add {{ type }}</h1>
                </div>
                <form name="form"
                      id="wizard"
                      class="form-horizontal">
                    <div ng-include="templateUrl"></div>
                    <p ng-if="type != ''"><button ng-click="commitItem()" class="btn btn-sm btn-success">Submit</button></p>
                </form>
            </div>
        </div>

        <!-- Preview Box -->
        <div class="col-md-4">
            <div class="block">
                <div class="block-title">
                    <h2>Preview</h2>
                </div>
                <p>
                    <button type="button" class="btn btn-success" ng-click="saveProposal()">
                        Save Proposal
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="discardProposal()">
                        Discard Proposal
                    </button>
                </p>
                <div class="list-group">
                    <div ng-click="showFlights=!showFlights" ng-show="proposal.FlightRequests.length > initialFlightCount" style="cursor:pointer">
                        <div class="list-group-item">Flights: <span class="badge">{{ proposal.FlightRequests.length - initialFlightCount }}</span></div>
                        <div class="list-group-item" ng-if="$index >= initialFlightCount" ng-show="showFlights" ng-repeat="flight in proposal.FlightRequests">
                            <p>{{ flight.DepartureDate | date:'d MMMM yyyy' }}: {{ flight.DepartureAddress.City }} - {{ flight.DestinationAddress.City }}</p>
                            <p>{{ flight.Cost | number:2 }} &euro; | {{ flight.CostSecondary | number:2 }} {{ flight.SecondaryCurrency }}</p>
                        </div>
                    </div>
                    <div ng-click="showTunnels=!showTunnels" ng-show="proposal.EuroTunnelRequests.length > initialTunnelCount" style="cursor:pointer">
                        <div class="list-group-item">EuroTunnels: <span class="badge">{{ proposal.EuroTunnelRequests.length - initialTunnelCount }}</span></div>
                        <div class="list-group-item" ng-if="$index >= initialTunnelCount" ng-show="showTunnels" ng-repeat="tunnel in proposal.EuroTunnelRequests">
                            <p>{{ tunnel.DepartureAddress.AddressName }} to {{ tunnel.DestinationAddress.AddressName }}</p>
                            <p>{{ tunnel.Cost | number:2 }} &euro; | {{ tunnel.CostSecondary | number:2 }} {{ tunnel.SecondaryCurrency }}</p>
                        </div>
                    </div>
                    <div class="list-group-item" ng-click="showAccommodations = !showAccommodations" ng-show="proposal.Accommodations.length > initialAccoCount" style="cursor:pointer">
                        Accommodations: <span class="badge">{{ proposal.Accommodations.length - initialAccoCount }}</span>
                        <div ng-repeat="acco in proposal.Accommodations">
                            <span ng-show="showAccommodations">
                                {{ acco.CheckInDate | date:'d MMMM yyyy' }}: {{ acco.Address.AddressName }} in {{ acco.Address.City }}
                            </span>
                        </div>
                    </div>
                    <div class="list-group">
                        <div ng-click="showFerries = !showFerries" ng-show="proposal.FerryRequests.length > initialFerryCount" style="cursor:pointer">
                            <div class="list-group-item">Ferry requests <span class="badge">{{ proposal.FerryRequests.length - initialFerryCount }}</span></div>
                            <div class="list-group-item" ng-repeat="ferry in proposal.FerryRequests" ng-show="showFerries">
                                <p>{{ ferry.DepartureDate | date:'d MMMM yyyy' }}: {{ ferry.DepartureAddress.AddressName }} to {{ ferry.DestinationAddress.AddressName }}</p>
                                <p>{{ ferry.Cost | number:2 }} &euro; | {{ ferry.CostSecondary | number:2 }} {{ ferry.SecondaryCurrency }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-click="showTaxiRequests = !showTaxiRequests" ng-show="proposal.TaxiRequests.length > initialTaxiCount" style="cursor:pointer">
                        Taxi Requests: <span class="badge">{{ proposal.TaxiRequests.length - initialTaxiCount }}</span>
                        <div ng-repeat="taxi in proposal.TaxiRequests">
                            <span ng-show="showTaxiRequests">
                                {{ taxi.DepartureDate | date:'d MMMM yyyy' }}: {{ taxi.DepartureAddress.Name }} in {{ taxi.DepartureAddress.City }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div ng-click="showRentalCarRequests = !showRentalCarRequests" ng-show="proposal.RentalCarRequests.length > initialRentalCount" style="cursor:pointer">
                        <div class="list-group-item">Rentalcar requests <span class="badge">{{ proposal.RentalCarRequests.length - initialRentalCount }}</span></div>
                        <div class="list-group-item" ng-if="$index >= initialRentalCount" ng-repeat="rcar in proposal.RentalCarRequests" ng-show="showRentalCarRequests">
                            <p>{{ rcar.StartDate | date:'d MMMM yyyy' }} until {{ rcar.EndDate | date:'d MMMM yyyy' }}</p>
                            <p>{{ rcar.Cost | number:2 }} &euro; | {{ rcar.CostSecondary | number:2 }} {{ rcar.SecondaryCurrency }}</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>