<div id="proposal" data-ng-controller="proposalCtrl">
    <div class="row">
        <!--Wizard-->
        <div class="col-sm-12">
            <div class="block">

                <div class="table">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <td><strong>Type</strong></td>
                                <td><strong>From</strong></td>
                                <td><strong>To</strong></td>
                                <td><strong>Date</strong></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody ng-repeat="flight in proposal.FlightRequests | filter: { ParentID: null } | orderBy:'DepartureDate'" ng-model="flight">
                            <tr id="flight_{{ flight.Id }}" class="datarow">
                                <td>Flight</td>
                                <td>{{ flight.DepartureAddress.City }}</td>
                                <td>{{ flight.DestinationAddress.City }}</td>
                                <td>{{ flight.DepartureDate|date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Flight', flight)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                        <a ng-click="info = !info"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-info-circle"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="info" style="">
                                <td colspan="1"></td>
                                <td colspan="100">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Financial</h5>
                                            <strong>Costs: </strong>{{ flight.Cost ? Flight.Cost : '-' }}<br />
                                            <strong>Secondary Costs: </strong>{{ flight.CostSecondary | number:2 }} {{ flight.SecondaryCurrency }}<br /><br />
                                            <strong>Flyer Member Card:</strong> {{flight.FlyerMemberCard.FMCNumber}}
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Luggage</h5>
                                            <strong>Extra Luggage: </strong>{{ flight.HasLargeCabinLuggage ? flight.LargeLuggageCount : 'No' }}<br />
                                            <strong>Large Equipment: </strong>{{ flight.HasSpecialEquipment ? 'Yes' : 'No' }}<br />
                                            <strong>Online Checkin: </strong>{{ flight.IsOnlineCheckIn ? 'Yes' : 'No' }}<br />

                                        </div>
                                        <div class="col-md-4">
                                            <h5>Notes</h5>
                                            <div class="well">{{ flight.Note }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <tbody ng-repeat="ferry in itinerary.FerryRequests">
                            <tr>
                                <td>Ferry {{ ferry.Id }}</td>
                                <td>{{ ferry.DepartureAddress.AddressName }}</td>
                                <td>{{ ferry.DestinationAddress.AddressName }}</td>
                                <td>{{ ferry.DepartureDate | date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Ferry', ferry)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                        <a ng-click="info = !info"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-info-circle"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="info">
                                <td colspan="1"></td>
                                <td colspan="100">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Financial</h5>
                                            <strong>Costs: </strong>{{ ferry.Cost ? ferry.Cost : '-' }}<br />
                                            <strong>Secondary Costs: </strong>{{ ferry.CostSecondary }} {{ ferry.SecondaryCurrency }}<br /><br />

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <h5>Notes</h5>
                                            <div class="well">{{ ferry.Note }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <!-- Start of tbody for TaxiRequests -->
                        <tbody ng-repeat="taxi in itinerary.TaxiRequests">
                            <tr>
                                <td>Taxi</td>
                                <td>{{ taxi.DepartureAddress.AddressName }}</td>
                                <td>{{ taxi.DestinationAddress.AddressName }}</td>
                                <td>{{ taxi.DepartureDate | date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Taxi', taxi)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                        <a ng-click="info = !info"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-info-circle"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="info">
                                <td colspan="1"></td>
                                <td colspan="100">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Financial</h5>
                                            <strong>Costs: </strong>{{ taxi.Cost ? taxi.Cost : '-' }}<br />
                                            <strong>Secondary Costs: </strong>{{ taxi.CostSecondary }} {{ taxi.SecondaryCurrency }}<br /><br />

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <h5>Notes</h5>
                                            <div class="well">{{ taxi.Note }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Start of tbody for RentalCarRequests -->
                        <tbody ng-repeat="rcar in proposal.RentalCarRequests | filter: { ParentID: null } ">
                            <tr>
                                <td>{{ rcar.Id }} Rental car</td>
                                <td>{{ rcar.Address.AddressName }}</td>
                                <td></td>
                                <td>{{ rcar.StartDate | date:'d MMMM yyyy' }} to {{ rcar.EndDate | date:'d MMMM yyyy' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('RentalCar', rcar)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                        <a ng-click="info = !info"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-info-circle"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="info">
                                <td colspan="1"></td>
                                <td colspan="100">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Financial</h5>
                                            <strong>Costs: </strong>{{ rcar.Cost ? rcar.Cost : '-' }}€<br />
                                            <strong>Secondary Costs: </strong>{{ rcar.CostSecondary }} {{ rcar.SecondaryCurrency }}<br /><br />

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <h5>Notes</h5>
                                            <div class="well">{{ rcar.Note }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <!-- Start of tbody for Eurotunnels .-->
                        <tbody ng-repeat="tunnel in itinerary.EuroTunnelRequests">
                            <tr>
                                <td>Eurotunnel</td>
                                <td>{{ tunnel.DepartureAddress.AddressName }}</td>
                                <td>{{ tunnel.DestinationAddress.AddressName }}</td>
                                <td>{{ tunnel.DepartureDate | date:'EEEE, d MMMM yyyy, H:mm' }}</td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('EuroTunnel', tunnel)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                        <a ng-click="info = !info"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-info-circle"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="info">
                                <td colspan="1"></td>
                                <td colspan="100">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Financial</h5>
                                            <strong>Costs: </strong>{{ tunnel.Cost ? tunnel.Cost : '-' }}<br />
                                            <strong>Secondary Costs: </strong>{{ tunnel.CostSecondary }} {{ tunnel.SecondaryCurrency }}<br /><br />

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <h5>Notes</h5>
                                            <div class="well">{{ tunnel.Note }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <!-- Start of tbody for Accommodations.-->
                        <thead>
                            <tr>
                                <td><strong>Type</strong></td>
                                <td><strong>Name</strong></td>
                                <td><strong>Date</strong></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody ng-repeat="acco in itinerary.Accommodations">
                            <tr>
                                <td>Accommodations</td>
                                <td>{{ acco.Address.AddressName }}</td>
                                <td>{{ acco.CheckInDate | date:'d MMMM yyyy' }}</td>
                                <td></td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a ng-click="updateTemplateUrl('Accommodation', acco)"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-plus"></i>
                                            Add Option
                                        </a>
                                        <a ng-click="info=!info"
                                           class="btn btn-sm btn-default">
                                            <i class="fa fa-info-circle"></i>
                                            More Info
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="info">
                                <td colspan="1"></td>
                                <td colspan="100">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5>Financial</h5>
                                            <strong>Costs: </strong>{{ acco.Cost ? acco.Cost : '-' }}<br />
                                            <strong>Secondary Costs: </strong>{{ acco.CostSecondary }} {{ acco.SecondaryCurrency }}<br /><br />

                                        </div>
                                        <div class="col-md-4">

                                        </div>
                                        <div class="col-md-4">
                                            <h5>Notes</h5>
                                            <div class="well">{{ acco.Note }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="block" id="addblock">
                <!--Title-->
                <div class="block-title">
                    <h1>Add {{ type }}</h1>
                </div>
                <form name="form"
                      id="wizard"
                      class="form-horizontal">
                    <div ng-include="templateUrl"></div>
                    <p ng-if="type != ''"><button ng-click="commitItem()" class="btn btn-sm btn-success">Submit</button></p>
                </form>
            </div>
        </div>

        <!-- Preview Box -->
        <div class="col-md-4">
            <div class="block">
                <div class="block-title">
                    <h2>Preview</h2>
                </div>

                <p>
                    <button type="button" class="btn btn-success" ng-click="saveProposal()">
                        Save Proposal
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="discardProposal()">
                        Discard Proposal
                    </button>
                </p>

                
                <div class="list-group">
                    <div ng-click="showFlights = !showFlights" ng-show="proposal.FlightRequests.length > 0" style="cursor:pointer">
                        <div class="list-group-item">Flights: <span class="badge">{{ proposal.FlightRequests.length }}</span></div>
                        <div class="list-group-item" ng-show="showFlights" ng-repeat="flight in proposal.FlightRequests | filter: { CopyOf: !null}">
                            <p>{{ flight.DepartureDate | date:'d MMMM yyyy' }}: {{ flight.DepartureAddress.City }} - {{ flight.DestinationAddress.City }}</p>
                            <p>{{ flight.Cost | number:2 }} &euro; | {{ flight.CostSecondary | number:2 }} {{ flight.SecondaryCurrency }}</p>
                        </div>
                    </div>
                    <div class="list-group-item" ng-click="showAccommodations = !showAccommodations" ng-show="proposal.Accommodations.length > 0" style="cursor:pointer">
                        Accommodations: <span class="badge">{{ proposal.Accommodations.length }}</span>
                        <div ng-repeat="acco in proposal.Accommodations">
                            <span ng-show="showAccommodations">
                                {{ acco.CheckInDate | date:'d MMMM yyyy' }}: {{ acco.Address.AddressName }} in {{ acco.Address.City }}
                            </span>
                        </div>
                    </div>
                    <div class="list-group">
                        <div ng-click="showFerries = !showFerries" ng-show="proposal.FerryRequests.length > 0" style="cursor:pointer">
                            <div class="list-group-item">Ferry requests <span class="badge">{{ proposal.FerryRequests.length }}</span></div>
                            <div class="list-group-item" ng-repeat="ferry in proposal.FerryRequests" ng-show="showFerries">
                                <p>{{ ferry.DepartureDate | date:'d MMMM yyyy' }}: {{ ferry.DepartureAddress.AddressName }} to {{ ferry.DestinationAddress.AddressName }}</p>
                                <p>{{ ferry.Cost | number:2 }} &euro; | {{ ferry.CostSecondary | number:2 }} {{ ferry.SecondaryCurrency }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item" ng-click="showEurotunnelRequests = !showEurotunnelRequests" ng-show="proposal.EuroTunnelRequests.length > 0" style="cursor:pointer">
                        Eurotunnel Requests: <span class="badge">{{ proposal.EuroTunnelRequests.length }}</span>
                        <div ng-repeat="tunnel in proposal.EuroTunnelRequests">
                            <span ng-show="showEurotunnelRequests">
                                {{ tunnel.DepartureAddress.AddressName }} to {{ tunnel.DestinationAddress.AddressName }}
                            </span>
                        </div>
                    </div>
                    <div class="list-group-item" ng-click="showTaxiRequests = !showTaxiRequests" ng-show="proposal.TaxiRequests.length > 0" style="cursor:pointer">
                        Taxi Requests: <span class="badge">{{ proposal.TaxiRequests.length }}</span>
                        <div ng-repeat="taxi in proposal.TaxiRequests">
                            <span ng-show="showTaxiRequests">
                                {{ taxi.DepartureDate | date:'d MMMM yyyy' }}: {{ taxi.DepartureAddress.Name }} in {{ taxi.DepartureAddress.City }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <div ng-click="showRentalCarRequests = !showRentalCarRequests" ng-show="proposal.RentalCarRequests.length > 0" style="cursor:pointer">
                        <div class="list-group-item">Rentalcar requests <span class="badge">{{ proposal.RentalCarRequests.length }}</span></div>
                        <div class="list-group-item" ng-repeat="rcar in proposal.RentalCarRequests" ng-show="showRentalCarRequests">
                            <p>{{ rcar.StartDate | date:'d MMMM yyyy' }} until {{ rcar.EndDate | date:'d MMMM yyyy' }}</p>
                            <p>{{ rcar.Cost | number:2 }} &euro; | {{ rcar.CostSecondary | number:2 }} {{ rcar.SecondaryCurrency }}</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>