<div data-ng-form="flights">
    <fieldset>
        <div data-form-control data-label="Flyer Member Card">
            <input type="text"
                   class="form-control input-sm"
                   data-ng-model="currentEntity.FlyerMemberCard.FMCNumber"
                   placeholder="Flyer Member Card Number"
                   data-z-validate />
        </div>

        <div data-form-control data-label="Departure">
            <select data-ng-model="currentEntity.DepartureAddress"
                    data-chosen
                    class="form-control"
                    data-placeholder="Departure Airport"
                    data-ng-options="airport.City + ' (' + airport.IATA_FAA + '), ' + airport.Country for airport in airports"
                    data-z-validate></select>
        </div>

        <div data-form-control data-label="Destination">
            <select data-ng-model="currentEntity.DestinationAddress"
                    data-chosen
                    class="form-control"
                    data-placeholder="Destination Airport"
                    data-ng-options="airport.City + ' (' + airport.IATA_FAA + '), ' + airport.Country for airport in airports"
                    data-z-validate></select>
        </div>

        <div data-form-control data-label="Date of Departure">
            <div data-datepicker data-ng-model="currentEntity.DepartureDate"></div>
        </div>

        <div data-form-control data-label="Time of Departure">
            <div data-timepicker
                 data-show-meridian="false"
                 data-minute-step="5"
                 data-ng-model="currentEntity.DepartureDate"></div>
        </div>

        <div data-form-control data-label="Way of Check-In">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-sm"
                        data-ng-model="currentEntity.IsOnlineCheckIn"
                        data-ng-class="{'btn-alt btn-default': !flight.IsOnlineCheckIn, 'btn-primary': flight.IsOnlineCheckIn}"
                        data-btn-radio="true">
                    Check-In Online
                </button>
                <button type="button"
                        class="btn btn-sm"
                        data-ng-model="currentEntity.IsOnlineCheckIn"
                        data-ng-class="{'btn-alt btn-default': flight.IsOnlineCheckIn, 'btn-primary': !flight.IsOnlineCheckIn}"
                        data-btn-radio="false">
                    Check-In at Airport
                </button>
            </div>
        </div>

        <div data-form-control data-label="Large Equipment">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-sm"
                        data-ng-model="currentEntity.HasSpecialEquipment"
                        data-ng-class="{'btn-alt btn-default': currentEntity.HasSpecialEquipment, 'btn-primary active': !currentEntity.HasSpecialEquipment}"
                        data-btn-radio="false">
                    No
                </button>
                <button type="button"
                        class="btn btn-sm"
                        data-ng-model="currentEntity.HasSpecialEquipment"
                        data-ng-class="{'btn-alt btn-default': !currentEntity.HasSpecialEquipment, 'btn-primary': currentEntity.HasSpecialEquipment}"
                        data-btn-radio="true">
                    Yes
                </button>
            </div>
        </div>

        <div data-form-control data-label="Extra Luggage">
            <div class="col-xs-4 clear-padding">
                <button type="button"
                        class="btn btn-sm btn-block"
                        data-ng-model="flight.HasLargeCabinLuggage"
                        data-ng-class="{'btn-primary': flight.HasLargeCabinLuggage, 'btn-alt btn-default': !flight.HasLargeCabinLuggage}"
                        data-btn-checkbox="true">
                    Extra Luggage
                </button>
            </div>
            <div class="col-xs-8" data-ng-show="flight.HasLargeCabinLuggage">
                <div class="col-xs-8 clear-padding">
                    <input type="number"
                           class="form-control input-sm"
                           min="0"
                           data-ng-model="flight.LargeLuggageCount"
                           data-z-validate />
                </div>
                <div class="col-xs-4">
                    <label class="control-label">kg</label>
                </div>
            </div>
        </div>
        <span class="help-block">
            Additional data
        </span>
        <br />

        <div data-form-control data-label="Cost in Euro">
            <input type="number"
                   class="form-control"
                   data-ng-model="currentEntity.Cost"
                   style="width: 80pt"
                   placeholder=""
                   data-z-validate />
        </div>

        <div class="control-group">
            <div data-form-control data-label="Cost in secondary currency">
                <div class="controls form-inline">
                    <input type="number"
                           class="form-control"
                           data-ng-model="currentEntity.CostSecondary"
                           placeholder=""
                           data-z-validate />
                    <input type="text"
                           class="form-control"
                           data-typeahead="currencies.CurrencyCode as currencies.Name for currencies in currencies | filter:{Name:$viewValue} | limitTo:8"
                           data-ng-model="currentEntity.SecondaryCurrency"
                           placeholder="Secondary Currency" />
                </div>
            </div>
        </div>


        <div data-form-control data-label="Note">
            <textarea type="text"
                      class="form-control"
                      rows="10"
                      data-ng-model="currentEntity.Note"
                      placeholder="Any notes"
                      data-z-validate></textarea>

        </div>
    </fieldset>

</div>