<div data-ng-form="general">
    <fieldset>
        <div data-legend-title="Request Details"></div>

        <div data-form-control data-label="Applicant">
            <input type="text" 
                    class="form-control"
                    data-ng-model="model.ApplicantID"
                    data-typeahead="employee.userName as employee.userName for employee in employees | filter:{userName:$viewValue} | limitTo:8"
                    data-z-validate />
        </div>

        <div data-form-control data-label="Quote or Order Number">
            <input type="text"
                   data-ng-model="model.QuoteOrOrderNumber"
                   class="form-control"
                   placeholder="Quote or Order Number"
                   data-z-validate />
        </div>

        <div data-form-control data-label="Responsible for approval">
            <select type="text"
                    data-ng-model="model.SuperiorID"
                    data-chosen
                    class="form-control"
                    data-placeholder="Project Manager or Superior Name"
                    data-ng-options="employee.objectGuid as employee.userName for employee in employees"
                    data-z-validate></select>
        </div>

        <div data-form-control data-label="Trip Purpose">
            <textarea class="form-control"
                      data-ng-model="model.Purpose"
                      rows="3"
                      placeholder="Purpose"
                      data-z-validate />
        </div>

        <div data-form-control data-label="Destination Country">
            <select class="form-control"
                    data-ng-model="model.Country"
                    data-placeholder="Country"
                    data-chosen
                    data-ng-options="country as country.Name for country in countries"
                    data-z-validate ></select>
        </div>

        <div data-form-control data-label="Date of Departure">
            <div data-datepicker data-starting-day="1" data-ng-model="model.DepartureDate"></div>
        </div>
        
        <div data-form-control data-label="Date of Return">
            <div data-datepicker data-ng-model="model.ReturnDate"></div>
        </div>


    </fieldset>
    <fieldset>
        <div data-legend-title="Customer or Prospect"></div>

        <div data-form-control data-label="Select a previously used Customer/Prospect">
            <select class="form-control"
                    data-placeholder="Customer selection"
                    data-ng-model="model.TempCompany"
                    data-ng-options="company as company.Name for company in uniqueCompanies"
                    data-z-validate
                    data-ng-change="setPreUsedCompany()"></select>
        </div>
        <hr />
        <div style="width: 25%;text-align: right;margin-bottom: 5px;padding-right: 22px;font-weight:600;"> 
            Or create a new one:
        </div>
        <div data-form-control data-label="Customer/Prospect Name">
            <input type="text"
                   data-ng-model="model.CustomerOrProspect.Name"
                   class="form-control"
                   placeholder="Customer Name"
                   data-typeahead="company.Name as company.Name for company in uniqueCompanies | filter:{Name:$viewValue} | limitTo:8"
                   data-z-validate />
        </div>

        <div data-address-form
             data-countries="countries"
             data-ng-if="options.knownCustomerAddress"
             data-ng-model="model.CustomerOrProspect.Address"></div>
    </fieldset>
</div>