<div data-ng-form="personal">
    <fieldset data-ng-repeat="traveller in model.RequestTravellers track by $index">
        
        <div data-legend-title="{{ $first ? 'Primary Traveller' : 'Traveller' }}">
            <a data-ng-click="deleteTraveller(traveller)"
               data-ng-hide="$first"
               class="btn btn-sm btn-danger"
               data-tooltip="Delete this traveller">
                <i class="fa fa-times"></i>
                Delete
            </a>
        </div>

        <div data-ng-form="'travellerform'">
            <div data-form-control data-label="First Name">
                <input type="text"
                       class="form-control"
                       data-ng-model="traveller.FirstName"
                       placeholder="First Name"
                       data-z-validate />
            </div>

            <div data-form-control data-label="Last Name">
                <input type="text" 
                       class="form-control"
                       data-ng-model="traveller.FamilyName"
                       placeholder="Last Name"
                       data-z-validate />
            </div>

            <div data-form-control data-label="Full Name">
                <input type="text" 
                       class="form-control"
                       data-ng-model="traveller.FullName"
                       placeholder="Full Name"
                       data-z-validate />
                <span class="help-block">
                    The traveler's full name according to his/her passport or other identification document.
                </span>
            </div>

            <div data-form-control data-label="Phone Number">
                <input type="text" 
                       class="form-control"
                       data-ng-model="traveller.PhoneNumberID"
                       placeholder="Phone Number" 
                       data-z-validate />
            </div>

            <div data-form-control data-label="Company">
                <select data-chosen
                        data-width="'100%'"
                        data-ng-model="traveller.tempCompany"
                        data-ng-options="c.Name for c in travellerCompanies"
                        data-ng-change="selectTravellerCompany(traveller, traveller.tempCompany)"
                        data-z-validate >
                    <option value="" disabled>Please select a company</option>
                </select>
            </div>

            <div data-form-control data-label="" data-ng-show="traveller.hasOtherCompany">
                <input type="text"
                    class="form-control"
                    data-ng-model="traveller.Company.Name"
                    data-ng-change="selectTravellerCompany" 
                    placeholder="Company" 
                    data-z-validate />
            </div>
        </div>
    </fieldset>
    
    <fieldset>
        <div data-legend-title="Add Traveller"></div>

        <div data-form-control data-label="Add Traveller">
            <button class="btn btn-sm btn-success"
                    data-ng-click="addTraveller()">
                <i class="fa fa-plus"></i>
                Add Traveller
            </button>
            <span class="help-block">
                You may add more than one traveller to a request. Click this button to add another traveller.
            </span>
        </div>
    </fieldset>
</div>