<div data-ng-controller="proposalDetailCtrl"
     data-ng-class="{'has-approval-footer': inApprovalMode}">
    <div class="block">
        <div class="block-title">
            <h2><strong>Proposal</strong></h2>
        </div>
        <!-- Start of basic proposal info -->
        <div class="row">
            <div class="col-md-6">
                <span><strong>Departure: </strong>{{ proposal.TravelRequest.DepartureDate|date:'EEEE d MMMM yyyy - H:mm'}}</span><br />
                <span><strong>Return: </strong>{{ proposal.TravelRequest.ReturnDate|date:'EEEE d MMMM yyyy - H:mm'}}</span>
                <div><strong>Traveler<span ng-show="proposal.TravelRequest.RequestTravellers.length > 1">s</span>:</strong></div>
                <div class="table">
                    <table class="table table-vcenter table-condensed table-striped">
                        <tbody>
                            <tr data-ng-repeat="traveller in proposal.TravelRequest.TravelRequest_RequestTravellers">
                                <td>{{ $index+1 }}</td>
                                <td>{{traveller.RequestTraveller.FullName || 'No full name given.'}}</td>
                                <td>{{traveller.RequestTraveller.PhoneNumberID || 'No number given.'}}</td>
                                <td>{{traveller.RequestTraveller.Company.Name || 'No company specified.' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Requester: </strong> {{ proposal.TravelRequest.ApplicantID }}</li>
                    <li class="list-group-item"><strong>Supervisor: </strong> {{ supervisorName }}<br />
                    <li class="list-group-item">
                        <strong>Proposal Status: </strong>
                        <span class="label label-warning" data-ng-show="proposal.IsApproved == 0">Awaiting</span>
                        <span class="label label-danger" data-ng-show="proposal.IsApproved == 1">Rejected</span>
                        <span class="label label-success" data-ng-show="proposal.IsApproved == 2">Approved</span>
                    </li>
                    <li class="list-group-item"><strong>Purpose: </strong>{{ proposal.TravelRequest.Purpose }}</li>
                </ul>
            </div>
        </div>
        <!-- End of basic proposal info -->


        <!-- Start of block containing all the flights -->
        <div ng-repeat="flight in proposal.FlightRequests | filter: { ParentID: null}">
            <div class="list-group form-group option-group">
                <a href="javascript:void(0)" class="list-group-item active">
                    Options for Flight from <strong>{{ flight.DepartureAddress.City }}</strong> to <strong>
                        {{ flight.DestinationAddress.City }}
                    </strong> on {{ flight.DepartureDate | date:'d MMMM yyyy' }}
                </a>
                <div ng-class="{ 'disabled': !fl.Chosen && proposal.IsApproved }" class="list-group-item group_{{ flight.Id }}" ng-repeat="fl in proposal.FlightRequests | filter: { ParentID: flight.Id }" id="option_{{ fl.ParentID }}_{{ $index }}" ng-click="select(fl, $index, flight.Id);" style="cursor:pointer">
                    <div class="row option_row">
                        <div class="col-md-6">
                            <i class="check"></i>
                            <input type="hidden" ng-model="fl.Chosen" />
                            {{ fl.DepartureAddress.City }} to {{ fl.DestinationAddress.City }}
                            <i ng-if="fl.Note != NULL" class="gi gi-comments" data-tooltip="{{ fl.Note }}"></i>
                        </div>
                        <div class="col-md-3">
                            {{ fl.DepartureDate | date:'d MMMM yyyy' }}
                        </div>
                        <div class="col-md-3" style="text-align: right">
                            <span class="euro_cost {{ fl.Chosen }}">{{ fl.Cost | number:2 }}</span>€ | {{ fl.CostSecondary | number:2 }} {{ fl.SecondaryCurrency }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of block containing all the flights -->

        <!-- Start of block containing all the ferries -->
        <div ng-repeat="ferry in proposal.FerryRequests | filter: proposalItems">
            <div class="list-group form-group option-group">
                <a href="javascript:void(0)" class="list-group-item active">
                    Options for Ferry from <strong>{{ ferry.DepartureAddress.AddressName }}</strong> to <strong>
                        {{ ferry.DestinationAddress.AddressName }}
                    </strong> on {{ ferry.DepartureDate | date:'d MMMM yyyy' }}
                </a>
                <div ng-class="{ 'disabled': !fe.Chosen && proposal.IsApproved }" class="list-group-item group_{{ ferry.Id }}" ng-repeat="fe in proposal.FerryRequests | filter: { ParentID: ferry.Id }" id="option_{{ fe.ParentID }}_{{ $index }}" ng-click="select(fe, $index, Ferry.Id);" style="cursor:pointer">
                    <div class="row option_row">
                        <div class="col-md-6">
                            <i class="check"></i>
                            <input type="hidden" ng-model="fe.Chosen" />
                            {{ fe.DepartureAddress.AddressName }} to {{ fe.DestinationAddress.AddressName }}
                            <i ng-if="fe.Note != NULL" class="gi gi-comments" data-tooltip="{{ fe.Note }}"></i>
                        </div>
                        <div class="col-md-3">
                            {{ fe.DepartureDate | date:'d MMMM yyyy' }}
                        </div>
                        <div class="col-md-3" style="text-align: right">
                            {{ fe.Cost | number:2 }}€ | {{ fe.CostSecondary | number:2 }} {{ fe.SecondaryCurrency }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of block containing all the ferries -->
        <!-- Start of block containing all the tunnels -->
        <div ng-repeat="tunnel in proposal.TravelRequest.EuroTunnelRequests" ng-init="selectedOptions[tunnel.Id] = ''">
            <div class="list-group form-group option-group">
                <a href="javascript:void(0)" class="list-group-item active">
                    Options for EuroTunnel from <strong>{{ tunnel.DepartureAddress.AddressName }}</strong> to <strong>
                        {{ tunnel.DestinationAddress.AddressName }}
                    </strong> on {{ tunnel.DepartureDate | date:'d MMMM yyyy' }}
                </a>
                <div ng-class="{ 'disabled': !tu.Chosen && proposal.IsApproved }" class="list-group-item group_{{ tunnel.Id }}" ng-repeat="tu in proposal.EuroTunnelRequests | filter: { ParentID: tunnel.Id }" id="option_{{ tu.ParentID }}_{{ $index }}" ng-click="select(tu, $index);" style="cursor:pointer">
                    <div class="row option_row">
                        <div class="col-md-6">
                            <i class="check"></i>
                            {{ tu.DepartureAddress.AddressName }} to {{ tu.DestinationAddress.AddressName }}
                            <i ng-if="tu.Note != NULL" class="gi gi-comments" data-tooltip="{{ tu.Note }}"></i>
                        </div>
                        <div class="col-md-3">
                            {{ tu.DepartureDate | date:'d MMMM yyyy' }}
                        </div>
                        <div class="col-md-3" style="text-align: right">
                            {{ tu.Cost | number:2 }}€ | {{ tu.CostSecondary | number:2 }} {{ tu.SecondaryCurrency }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of block containing all the tunnels -->

        <!-- Start of block containing all the rentalcars -->
        <div ng-repeat="rcar in proposal.RentalCarRequests | filter: proposalItems" ng-init="selectedOptions[rcar.Id] = ''">
            <a href="javascript:void(0)" class="list-group-item active">
                Options for Rental car from {{ rcar.StartDate | date:'d MMMM yyyy' }} until {{ rcar.EndDate | date:'d MMMM yyyy' }}
            </a>
            <div ng-class="{ 'disabled': !rc.Chosen && proposal.IsApproved }" class="list-group-item group_{{ rcar.Id }}" n ng-repeat="rc in proposal.RentalCarRequests | filter: { ParentID: rcar.Id }" id="option_{{ rc.ParentID }}_{{ $index }}" ng-click="select(rc, $index);" style="cursor:pointer">
                <div class="row option_row">
                    <div class="col-md-6">
                        <i class="check"></i>
                        {{ rc.Address.AddressName }}
                        <i ng-if="rc.Note != NULL" class="gi gi-comments" data-tooltip="{{ rc.Note }}"></i>
                    </div>
                    <div class="col-md-3">
                        {{ rc.StartDate | date:'d MMMM yyyy' }}
                    </div>
                    <div class="col-md-3" style="text-align: right">
                        {{ rc.Cost | number:2 }}&euro; | {{ rc.CostSecondary | number:2 }} {{ rc.SecondaryCurrency }}
                    </div>
                </div>
            </div>
        </div>
        <!-- End of block containing all the rentalcars -->
        <!-- Start of block containing all the taxis -->
        <div ng-repeat="taxi in proposal.TaxiRequests | filter: proposalItems" ng-init="selectedOptions[taxi.Id] = ''">
            <div class="list-group form-group option-group">
                <a href="javascript:void(0)" class="list-group-item active">
                    Options for Taxi from <strong>{{ taxi.DepartureAddress.AddressName }}</strong> to <strong>
                        {{ taxi.DestinationAddress.AddressName }}
                    </strong> on {{ taxi.DepartureDate | date:'d MMMM yyyy' }}
                </a>
                <div ng-class="{ 'disabled': !ta.Chosen && proposal.IsApproved }" class="list-group-item group_{{ taxi.Id }}" ng-repeat="ta in proposal.TaxiRequests | filter: { ParentID: taxi.Id }" id="option_{{ ta.ParentID }}_{{ $index }}" ng-click="select(ta, $index);" style="cursor:pointer">
                    <div class="row option_row">
                        <div class="col-md-6">
                            <i class="check"></i>
                            {{ ta.DepartureAddress.AddressName }} to {{ ta.DestinationAddress.AddressName }}
                            <i ng-if="ta.Note != NULL" class="gi gi-comments" data-tooltip="{{ ta.Note }}"></i>
                        </div>
                        <div class="col-md-3">
                            {{ ta.DepartureDate | date:'d MMMM yyyy' }}
                        </div>
                        <div class="col-md-3" style="text-align: right">
                            {{ ta.Cost | number:2 }}€ | {{ ta.CostSecondary  | number:2}} {{ ta.SecondaryCurrency }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of block containing all the taxis -->

        <!-- Start of block containing all the accommodations -->
        <div ng-repeat="acco in proposal.Accommodations | filter: proposalItems" ng-init="selectedOptions[acco.Id] = ''">
            <div class="list-group form-group option-group">
                <a href="javascript:void(0)" class="list-group-item active">
                    Options for Accommodation stay in {{ acco.Address.City }} from
                    <strong>{{ acco.CheckInDate | date:'d MMMM yyyy' }}</strong> to
                    <strong>{{ acco.CheckOutDate | date:'d MMMM yyyy' }}</strong>
                </a>
                <div ng-class="{ 'disabled': !ac.Chosen && proposal.IsApproved }" class="list-group-item group_{{ acco.Id }}" ng-repeat="ac in proposal.Accommodations | filter: { ParentID: acco.Id }" id="option_{{ ac.ParentID }}_{{ $index }}" ng-click="select(ac, $index);" style="cursor:pointer">
                    <div class="row option_row">
                        <div class="col-md-6">
                            <i class="check"></i>
                            {{ ac.Address.AddressName }} in {{ ac.Address.City }}
                            <i ng-if="ac.Note != NULL" class="gi gi-comments" data-tooltip="{{ ac.Note }}"></i>
                        </div>
                        <div class="col-md-3">
                            {{ ac.CheckOutDate | date:'d MMMM yyyy' }}
                        </div>
                        <div class="col-md-3" style="text-align: right">
                            <span class="euro_cost {{ fl.Chosen }}">{{ ac.Cost | number:2 }}</span>&euro; | {{ ac.CostSecondary | number:2 }} {{ ac.SecondaryCurrency }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bar to display the total costs -->
        <div class="list-group form-group">

            <a class="list-group-item active" style="text-align: right">
                <span ng-if="proposal.IsApproved == 2">{{ calcTotal() }}</span>
                Total: {{ totalCost | number:2 }} €
            </a>
        </div>


    </div>
    <!-- Footer -->
    <footer class="clearfix"
            style="min-height: 168px;"
            ng-show="proposal.IsApproved == false">
        <div>
            <div class="block-title"
                 style="border-top: 1px solid #dbe1e8">
                <h4><strong>Approve</strong> Proposal</h4>
            </div>
            <div class="row"
                 style="padding-bottom: 20px;">
                <div data-ng-show="mode == 'init'">
                    <div class="col-xs-9">
                        <textarea class="form-control"
                                  data-ng-model="comments"
                                  rows="4"
                                  placeholder="Comments / Reason of approve / rejection  (optional)"></textarea>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-success btn-block" ng-class="{disabled: approvalMode != true }"
                           data-ng-click="onApprove()">
                            <i class="fa fa-check"></i>
                            Approve
                        </a>
                        <a class="btn btn-danger btn-block"
                           data-ng-click="onReject()">
                            <i class="fa fa-ban"></i>
                            Reject
                        </a>
                    </div>
                </div>
                <div data-ng-show="mode == 'approve'">
                    <div class="col-xs-9">
                        <p>
                            Are you sure you want to approve this proposal? By approving this proposal,
                            a notification will be sent to anyone who also has to approve this proposal (if applicable).
                        </p>
                        <p>When the proposal is fully approved, the travel agency will take care of further tasks.</p>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-success btn-block"
                           data-ng-click="onApproveConfirm()">
                            <i class="fa fa-check"></i>
                            Approve
                        </a>
                        <a class="btn btn-default btn-block"
                           data-ng-click="onCancel()">
                            <i class="fa fa-arrow-left"></i>
                            Cancel
                        </a>
                    </div>
                </div>
                <div data-ng-show="mode == 'approveConfirmed'">
                    <div class="col-xs-12">
                        <p>You have approved the proposal. A notification will be sent to anyone who also has to approve this proposal (if applicable).</p>
                        <p>When the proposal is fully approved, the travel agency will take care of further tasks.</p>
                        <p id="page-reload-notification"></p>
                    </div>
                </div>
                <div data-ng-show="mode == 'reject'">
                    <div class="col-xs-9" data-ng-click="onCancel()">
                        <p>
                            Are you sure you want to reject this proposal? By disapproving this proposal,
                            the travel agency will be notified of the rejection and won't further handle this request.
                        </p>
                        <p data-ng-show="!comments" class="text-warning">
                            Notice: You have not left a comment with this rejection. please go back and add one, so that
                            the person who made the request and the travel agency will know why the request was rejected.
                        </p>
                    </div>
                    <div class="col-xs-3">
                        <a class="btn btn-danger btn-block"
                           data-ng-click="onRejectConfirm()">
                            <i class="fa fa-ban"></i>
                            Reject
                        </a>
                        <a class="btn btn-default btn-block"
                           data-ng-click="onCancel()">
                            <i class="fa fa-arrow-left"></i>
                            Cancel
                        </a>
                    </div>
                </div>
                <div data-ng-show="mode == 'rejectConfirmed'">
                    <div class="col-xs-12">
                        <p>You have rejected the proposal. The travel agency will be notified but will not handle the proposal in its current state.</p>
                        <p id="page-reload-notification"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>