<div data-ng-controller="proposalListCtrl">
    <div class="block">
        <div class="block-title">
            <h2><strong>Proposals</strong></h2>
        </div>

        <div class="table-responsive">
            <table class="table table-vcenter table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-2">Traveller(s)</th>
                        <th class="col-md-2">Destination</th>
                        <th class="col-md-1">Supervisor</th>
                        <th class="col-md-2">Updated</th>
                        <th class="col-md-1">Approval</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="proposal in proposals | orderBy:'UpdatedDate'"
                        style="cursor:pointer">
                        
                        <td data-ng-click="go('/Proposal/' + proposal.Id)">
                            <ul class="fa-ul">
                                <li data-ng-repeat="traveller in proposal.TravelRequest.TravelRequest_RequestTravellers">
                                    <i class="fa fa-user text-muted"></i>
                                    {{traveller.RequestTraveller.FirstName}} {{traveller.RequestTraveller.FamilyName}}
                                </li>
                            </ul>
                        </td>
                        <td data-ng-click="go('/Proposal/' + proposal.Id)">{{ proposal.TravelRequest.Country.Name}}</td>
                        <td data-ng-click="go('/Proposal/' + proposal.Id)">{{ proposal.TravelRequest.ApplicantID }}</td>
                        <td>
                            <span>{{ proposal.UpdatedDate|date:'d MMMM yyyy H:mm' }}</span>
                        </td>
                        <td data-ng-click="go('/Proposal/' + proposal.Id)">
                            <span class="label label-warning" data-ng-show="proposal.IsApproved == 0">Awaiting</span>
                            <span class="label label-danger" data-ng-show="proposal.IsApproved == 1">Rejected</span>
                            <span class="label label-success" data-ng-show="proposal.IsApproved == 2">Approved</span>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="#/Proposal/{{proposal.Id}}"
                                   class="btn btn-sm btn-default">
                                    <i class="fa fa-eye"></i>
                                    View
                                </a>
                                <!--<a data-ng-click="toggleArchive(request)"
                   class="btn btn-sm btn-default"
                   data-tooltip="{{request.IsArchived ? 'Unarchive' : 'Archive'}}"
                   href="javascript:void(0)">
                    <i class="fa fa-archive"></i>
                </a>-->
                                <a data-ng-click="toggleDelete(request)"
                                   data-ng-show="request.IsFinal == false"
                                   class="btn btn-sm"
                                   data-ng-class="request.IsDeleted ? 'btn-default' : 'btn-default'"
                                   data-tooltip="{{request.IsDeleted ? 'Recover' : 'Delete'}}"
                                   href="javascript:void(0)">
                                    <i data-ng-show="!request.IsDeleted" class="fa fa-times"></i>
                                    <i data-ng-show="request.IsDeleted" class="fa fa-undo"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-show="proposals.length == 0">
                        <td colspan="6" class="text-center" style="padding: 12px">
                            There are no new proposals.<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>