<div data-ng-form="flights" id="ignorePDF">
    <div class="row">
        <div class="col-xs-6">

            <div data-form-control data-label="Flyer Member Card">
                <input type="text"
                       class="form-control input-sm"
                       data-ng-model="request.FlightRequests[request.FlightRequests.length -1].FlyerMemberCard.FMCNumber"
                       placeholder="Flyer Member Card Number"
                       data-z-validate />
            </div>
            <br /><br />


            <div data-form-control data-label="Departure">
                <select data-ng-model="request.FlightRequests[request.FlightRequests.length -1].DepartureAddress"
                        class="form-control"
                        data-placeholder="Departure Airport"
                        data-ng-options="airport.City + ' (' + airport.IATA_FAA + '), ' + airport.Country for airport in airports"
                        data-z-validate></select>
            </div>
            <br /><br />

            <div data-form-control data-label="Destination">
                <select data-ng-model="request.FlightRequests[request.FlightRequests.length -1].DestinationAddress"
                        class="form-control"
                        data-placeholder="Destination Airport"
                        data-ng-options="airport.City + ' (' + airport.IATA_FAA + '), ' + airport.Country for airport in airports"
                        data-z-validate></select>
            </div>
            <br /><br />

            <div data-form-control data-label="Date of Departure">
                <div data-datepicker data-ng-model="flight.DepartureDate"></div>
            </div>
        </div>
        <div class="col-xs-6">

            <div data-form-control data-label="Time of Departure">
                <div data-timepicker
                     data-show-meridian="false"
                     data-minute-step="5"
                     data-ng-model="request.FlightRequests[request.FlightRequests.length -1].DepartureDate"></div>
            </div>
            <div data-form-control data-label="Way of Check-In">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-sm"
                            data-ng-model="request.FlightRequests[request.FlightRequests.length -1].IsOnlineCheckIn"
                            data-ng-class="{'btn-alt btn-default': !flight.IsOnlineCheckIn, 'btn-primary': flight.IsOnlineCheckIn}"
                            data-btn-radio="true">
                        Check-In Online
                    </button>
                    <button type="button"
                            class="btn btn-sm"
                            data-ng-model="request.FlightRequests[request.FlightRequests.length -1].IsOnlineCheckIn"
                            data-ng-class="{'btn-alt btn-default': flight.IsOnlineCheckIn, 'btn-primary': !flight.IsOnlineCheckIn}"
                            data-btn-radio="false">
                        Check-In at Airport
                    </button>
                </div>
            </div>

            <div data-form-control data-label="Large Equipment">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-sm"
                            data-ng-model="flight.HasSpecialEquipment"
                            data-ng-class="{'btn-alt btn-default': flight.HasSpecialEquipment, 'btn-primary active': !flight.HasSpecialEquipment}"
                            data-btn-radio="false">
                        No
                    </button>
                    <button type="button"
                            class="btn btn-sm"
                            data-ng-model="flight.HasSpecialEquipment"
                            data-ng-class="{'btn-alt btn-default': !flight.HasSpecialEquipment, 'btn-primary': flight.HasSpecialEquipment}"
                            data-btn-radio="true">
                        Yes
                    </button>
                </div>
            </div>

            <div data-form-control data-label="Extra Luggage">
                <div class="col-xs-4 clear-padding">
                    <button type="button"
                            class="btn btn-sm btn-block"
                            data-ng-model="flight.HasLargeCabinLuggage"
                            data-ng-class="{'btn-primary': flight.HasLargeCabinLuggage, 'btn-alt btn-default': !flight.HasLargeCabinLuggage}"
                            data-btn-checkbox="true">
                        Extra Luggage
                    </button>
                </div>
                <div class="col-xs-8" data-ng-show="flight.HasLargeCabinLuggage">
                    <div class="col-xs-8 clear-padding">
                        <input type="number"
                               class="form-control input-sm"
                               min="0"
                               data-ng-model="flight.LargeLuggageCount"
                               data-z-validate />
                    </div>
                    <div class="col-xs-4">
                        <label class="control-label">kg</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>